 #IUAfinance42 {
                        min-width: 175px;
                        width: 300px;
                        cursor: pointer;
                    }

                        #IUAfinance42 * {
                            margin: 0;
                            padding: 0;
                        }

                        #IUAfinance42 .content {
                            overflow: hidden;
                            padding: 4px;
                            font-family: Arial;
                            font-size: 10px;
                            color: #000000;
                            background: #bbddff;
                            border: 1px solid #0044cc;
                        }

                        #IUAfinance42 h1 {
                            overflow: hidden;
                            margin-top: -4px;
                            font-size: 12px;
                            font-weight: bold;
                            height: 20px;
                            line-height: 20px;
                            color: #0044cc;
                        }

                            #IUAfinance42 h1 span {
                                float: left;
                                white-space: nowrap;
                            }

                            #IUAfinance42 h1 i {
                                float: right;
                                display: inline-block;
                                width: 36px;
                                height: 15px;
                                background: url(http://i.i.ua/v2/logo/logo_small_14_black.png) no-repeat 0 1px transparent;
                                opacity: .3;
                            }

                        #IUAfinance42 a, #IUAfinance42 a:hover {
                            border: none;
                            text-decoration: underline;
                            color: #0044cc;
                        }

                        #IUAfinance42 dl {
                            overflow: hidden;
                            background: #cccccc;
                            padding: 4px;
                            margin-bottom: 4px;
                        }

                            #IUAfinance42 dl dt {
                                font-weight: bold;
                                font-size: 12px;
                            }

                            #IUAfinance42 dl dd {
                                clear: left;
                                border-top: 1px dotted #DDD;
                            }

                            #IUAfinance42 dl span {
                                display: block;
                                float: left;
                                width: 39%;
                                white-space: nowrap;
                                text-align: right;
                            }

                                #IUAfinance42 dl span.th {
                                    width: 22%;
                                    text-align: left;
                                }

                            #IUAfinance42 dl dt span {
                                font-size: 10px;
                                font-weight: normal;
                            }

                            #IUAfinance42 dl dd span {
                                line-height: 24px;
                                font-size: 20px;
                                font-family: Trebuchet MS;
                            }

                                #IUAfinance42 dl dd span img {
                                    vertical-align: middle;
                                    margin-right: 1px;
                                }
