@model RentalOffice.Model.UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<!--<div class="row">
    <div class="col-sm-8 col-md-8 ">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <h3>Добрый день @ViewBag.UserName </h3>
    </div>
</div>-->
    
<div class="row">
    <h2 class="sub-header">Список фильмов</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Залоговая сумма</th>
                    <th>Категория</th>
                    <th>Краткое описание</th>
                    <th>Год выхода</th>
                    <th>Киностудия(страна)</th>
                    <th>Режисер</th>
                    <th>В ролях</th>
                    <th>Качество</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>

</div>
      