@{
    ViewBag.Title = "AboutForUser";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
 }
    <hr />
<h3>О нас</h3>
<p>
    Интернет-сервис MyFilm.ua™ на сегодняшний день является наиболее популярным
    сервисом по прокату видио и аудио дисков в Украине

</p>
<p>
    Точки выдачи заказов нашей компании есть во многих крупных городах Украины. Такого статуса нам удалось достичь благодаря
    максимально широкому ассортименту, разумной ценовой политике и отличному сервису.

</p>
<p>
    <img src="/Image/about.jpg" alt="" />
</p>

<h4>Поможем выбрать, не дадим скучать!</h4>
<p>
    Наша задача состоит не только в том, чтобы просто предоставить широкий асортимент, но и в том, чтобы информировать и просвещать клиента.
    Для этого мы  готовим статьи и новости. Пользуясь этой информацией, Вы сможете самостоятельно выбрать то  что Вам нужно.
    Но если всеже возникли трудности - звоните! Мы Вам поможем
</p>

