@{
    ViewBag.Title = "ContactForUser";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="row">
    <div class=" col-lg-6 col-sm-6 col-md-6">
        <hr />
        <h3>Контактная информация</h3>
        <br />
        <p>Получить консультацию и сделать заказ вы можете по телефонам:</p>
        <p>Укртелеком: (044)000-00-00</p>
        <p>Киевстар:   (067)000-00-00</p>
        <p>МТС:        (050)000-00-00</p>
    </div>
    <div class=" col-lg-6 col-sm-6 col-md-6">

    </div>

</div>
<div class="row">
    <h3>Пункты проката:</h3>
</div>
<div class="row">
    <div class=" col-lg-6 col-sm-6 col-md-6">
        <a href="https://www.google.com.ua/maps/place/просп.+Правди,+80,+Київ/&#6450.506183,30.4167866,17z/data=!3m1!4b1!4m2!3m1!1s0x40d4cd68bae498f7:0x8cc329cf4e40361a" target="_blank">г.Киев, пр.Правды,80</a>        
        <p>Телефон: (044)000-00-00</p>
        <p>График работы</p>
        <p>с 10:00 до 19:00</p>
        <p>В субботу: с 10:00 до 17:00</p>
        <p>В воскресенье: выходной</p>
    </div>
    <div class=" col-lg-6 col-sm-6 col-md-6">
        <a href="https://www.google.com.ua/maps/place/просп.+Газети+«Правда»,+54,+Дніпропетровськ,+Дніпропетровська+область/&#6448.5096755,35.0768025,17z/data=!3m1!4b1!4m2!3m1!1s0x40d9586117343801:0x8a3e22c69bf5bdee" target="_blank">г.Днепропетровск, пр.Газеты"Правда",54</a>         
        <p>Телефон: (056)000-00-00</p>
        <p>График работы</p>
        <p>с 10:00 до 19:00</p>
        <p>В субботу: с 10:00 до 17:00</p>
        <p>В воскресенье: выходной</p>
    </div>
</div>
<br />
<div class="row">
    <div class=" col-lg-6 col-sm-6 col-md-6">
        <a href="https://www.google.com.ua/maps/place/вул.+Перемоги,+53,+Одеса,+Одеська+область/&#6446.568353,30.765499,17z/data=!3m1!4b1!4m2!3m1!1s0x40c6253a144634df:0x2de6b142164cce24" target="_blank">г.Одесса, ул.Правды,53</a> 
        
        <p>Телефон: (058)000-00-00</p>
        <p>График работы</p>
        <p>с 10:00 до 19:00</p>
        <p>В субботу: с 10:00 до 17:00</p>
        <p>В воскресенье: выходной</p>
    </div>
    <div class=" col-lg-6 col-sm-6 col-md-6">
        <a href="https://www.google.com.ua/maps/place/просп.+Перемоги,+53,+Кривий+Ріг,+Дніпропетровська+область/&#6447.6800179,33.1468494,16z/data=!4m2!3m1!1s0x40c4d4e0901f4877:0x89345aa4ca350c98" target="_blank">г.Кривой Рог, пр.Правды,53</a> 
        
        <p>Телефон: (0564)00-00-00</p>
        <p>График работы</p>
        <p>с 10:00 до 19:00</p>
        <p>В субботу: с 10:00 до 17:00</p>
        <p>В воскресенье: выходной</p>
    </div>
</div>


