@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
    <div class="row">
        <div class=" col-lg-6 col-sm-6 col-md-6">
            <h3>Контактная информация</h3>
            <br />
            <p>Получить консультацию и сделать заказ вы можете по телефонам:</p>
            <p>Укртелеком: (044)000-00-00</p>
            <p>Киевстар:   (067)000-00-00</p>
            <p>МТС:        (050)000-00-00</p>
        </div>
        <div class=" col-lg-6 col-sm-6 col-md-6">

        </div>

    </div>
    <div class="row">
        <h3>Пункты проката:</h3>
    </div>
    <div class="row">
        <div class=" col-lg-6 col-sm-6 col-md-6">
            <p>г.Киев, пр.Правды,53</p>
            <p>Телефон: (044)000-00-00</p>
            <p>График работы</p>
            <p>с 10:00 до 19:00</p>
            <p>В субботу: с 10:00 до 17:00</p>
            <p>В воскресенье: выходной</p>
        </div>
        <div class=" col-lg-6 col-sm-6 col-md-6">
            <p>г.Днепропетровск, пр.Правды,53</p>
            <p>Телефон: (056)000-00-00</p>
            <p>График работы</p>
            <p>с 10:00 до 19:00</p>
            <p>В субботу: с 10:00 до 17:00</p>
            <p>В воскресенье: выходной</p>
        </div>
    </div>
<br />
    <div class="row">
        <div class=" col-lg-6 col-sm-6 col-md-6">
            <p>г.Одесса, пр.Правды,53</p>
            <p>Телефон: (058)000-00-00</p>
            <p>График работы</p>
            <p>с 10:00 до 19:00</p>
            <p>В субботу: с 10:00 до 17:00</p>
            <p>В воскресенье: выходной</p>
        </div>
        <div class=" col-lg-6 col-sm-6 col-md-6">
            <p>г.Кривой Рог, пр.Правды,53</p>
            <p>Телефон: (0564)00-00-00</p>
            <p>График работы</p>
            <p>с 10:00 до 19:00</p>
            <p>В субботу: с 10:00 до 17:00</p>
            <p>В воскресенье: выходной</p>
        </div>
    </div>

