@model RentalOffice.Model.ProductViewModel

@{
    ViewBag.Title = "Discounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<hr />
<h2>Discounts</h2>
<hr />
<p>Раздел находится в разработке</p>
